<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polycis.main.mapper.db1.DeviceMapper">

    <!--&lt;!&ndash; 开启二级缓存 &ndash;&gt;
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->


    <!--<select id="selectDeviceList" resultType="java.lang.String">
        SELECT id.device_uuid
        FROM iot_app_org_relation iaor
        LEFT JOIN iot_device id on id.app_id =iaor.app_id
        AND id.is_delete=1
    </select>-->

    <!--<select id="selectDevList" resultType="java.lang.String">
        SELECT id.device_uuid
        FROM iot_app_org_relation iaor
        INNER JOIN iot_device id ON id.app_id =iaor.app_id
        AND id.is_delete=1
        WHERE iaor.organization_id=#{org}
    </select>-->

    <select id="selectDevList" resultType="java.lang.String">

        SELECT device_uuid
        FROM iot_device
        where app_id=#{appId}
        and is_delete=1


    </select>

    <select id="selectDevCountBypro" resultType="java.lang.Integer">

        SELECT COUNT(id)
        FROM iot_device
        WHERE product_id=#{productId}
        and is_delete=1

    </select>


    <select id="selectDevicePage" resultType="com.polycis.main.entity.Device">

        SELECT
        id.*,
        ia.name as appName,
        ip.name as productName
        FROM iot_app_org_relation iaor
        INNER JOIN iot_app ia on ia.id=iaor.app_id and ia.is_delete=1
        INNER JOIN iot_device id on id.app_id =ia.id and id.is_delete=1
        INNER JOIN iot_product ip on ip.id=id.product_id and ip.is_delete=1
        WHERE 1=1
        <if test="query != null and query != ''">
            AND (id.name LIKE "%"#{query}"%" or id.device_uuid  LIKE "%"#{query}"%" or ia.name LIKE "%"#{query}"%"
            or ip.name LIKE "%"#{query}"%")
        </if>
        <if test="orgId != null and orgId != ''">
            AND iaor.organization_id=#{orgId}
        </if>
        ORDER BY id.create_time DESC
        LIMIT #{pageNumber}, #{pageSize}
    </select>
    <select id="selectAppListCount" resultType="java.lang.Integer">
        SELECT count(id.id)
        FROM iot_app_org_relation iaor
        INNER JOIN iot_app ia on ia.id=iaor.app_id and ia.is_delete=1
        INNER JOIN iot_device id on id.app_id =ia.id and id.is_delete=1
        INNER JOIN iot_product ip on ip.id=id.product_id and ip.is_delete=1
        WHERE 1=1
        <if test="query != null and query != ''">
            AND (id.name LIKE "%"#{query}"%" or id.device_uuid LIKE "%"#{query}"%" or ia.name LIKE "%"#{query}"%"
            or ip.name LIKE "%"#{query}"%")
        </if>
        <if test="orgId != null and orgId != ''">
            AND iaor.organization_id=#{orgId}
        </if>
    </select>
    <select id="selectOrgDevList" resultType="java.lang.String">
        SELECT device_uuid
        FROM iot_device id
        INNER JOIN iot_app_org_relation iaor ON iaor.app_id=id.app_id AND iaor.organization_id=#{id}
        WHERE id.is_delete=1
    </select>
</mapper>
