<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polycis.main.mapper.db1.ProductMapper">


    <select id="queryAppList" resultType="com.polycis.main.entity.Product">

        SELECT ip.*, io.name as username
        FROM iot_product ip
        INNER JOIN  iot_org  io ON io.id =ip.org AND io.is_delete=1
        WHERE ip.is_delete=1
        <if test="query != null and query != ''">
            AND (io.name LIKE "%"#{query}"%"or ip.name LIKE "%"#{query}"%" )
        </if>
        <if test="orgId != null and orgId != ''">
            AND io.id=#{orgId}
        </if>
        ORDER BY ip.create_time DESC
        LIMIT #{pageNumber}, #{pageSize}


    </select>


    <select id="queryAppListCount" resultType="java.lang.Integer">

        SELECT count(ip.id)
        FROM iot_product ip
        INNER JOIN  iot_org  io ON io.id =ip.org AND io.is_delete=1
        WHERE ip.is_delete=1
        <if test="query != null and query != ''">
            AND (io.name LIKE "%"#{query}"%"or ip.name LIKE "%"#{query}"%" )
        </if>
        <if test="orgId != null and orgId != ''">
            AND io.id=#{orgId}
        </if>

    </select>
</mapper>
