<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polycis.main.mapper.db3.DevDataWarnMapper">
    <insert id="insertWarnLevel">
        insert into dev_warn_level (dev_type_id, warn_type_id, warn_level_id, state, create_time, update_time) select
        #{devTypeId},#{warnTypeId},#{warnLevelId},1,now(),now() from dual where not exists(
        select * from dev_warn_level where dev_type_id = #{devTypeId} and warn_type_id = #{warnTypeId})
    </insert>
    <insert id="insertTest">

      INSERT INTO  dev_data_warn(device_uuida,platform)  VALUES ("ffff001", 1)

    </insert>

    <select id="selectWarnInfo" resultType="java.util.Map">
        <bind name="key_offset" value="(pageInfo.currentPage-1)*pageInfo.pageSize"/>
        select d.id,d.device_uuid as 'deviceUuid',
        dev.name,dic.name as 'type',
        d.event_type as 'eventType',
        d.`status`,
        d.create_time as 'createTime',d.modify_time as 'modifyTime'
        from dev_data_warn d left join
        polycis_as_main.iot_device dev
        left join polycis_as_main.iot_dictionary dic on dic.code = dev.platform and dic.parent_id = 107
        on d.device_uuid = dev.device_uuid
        INNER JOIN polycis_as_main.iot_app_org_relation iaor ON dev.app_id =iaor.app_id
        where 1 = 1
        <if test="data.mac != null and data.mac !=''">
            and d.mac like concat('%',#{data.mac},'%') or dev.name like concat('%',#{data.mac},'%')
        </if>
        <if test="data.beginTime !=null and data.beginTime !=''">
            and d.create_time &gt;= #{data.beginTime}
        </if>
        <if test="data.endTime !=null and data.endTime !=''">
            and d.create_time &lt;= #{data.endTime}
        </if>
        <if test="data.status !=null">
            and d.status = #{data.status}
        </if>
        <if test="data.id != null and data.id !=''">
            and iaor.organization_id like concat('%',#{data.id},'%') or dev.id like concat('%',#{data.id},'%')
        </if>
        order by d.create_time desc
        LIMIT #{key_offset},#{pageInfo.pageSize}
    </select>
    <select id="selectWarnInfoCount" resultType="java.lang.Integer">
        select count(*)
        from dev_data_warn d
        left join  polycis_as_main.iot_device dev on d.device_uuid = dev.device_uuid
        INNER JOIN polycis_as_main.iot_app_org_relation iaor ON dev.app_id =iaor.app_id
        where 1 = 1
        <if test="data.mac != null and data.mac !=''">
            and d.mac like concat('%',#{data.mac},'%') or dev.name like concat('%',#{data.mac},'%')
        </if>
        <if test="data.beginTime !=null and data.beginTime !=''">
            and d.create_time &gt;= #{data.beginTime}
        </if>
        <if test="data.endTime !=null and data.endTime !=''">
            and d.create_time &lt;= #{data.endTime}
        </if>
        <if test="data.status !=null">
            and d.status = #{data.status}
        </if>

        <if test="data.id != null and data.id !=''">
            and iaor.organization_id like concat('%',#{data.id},'%') or dev.id like concat('%',#{data.id},'%')
        </if>
    </select>
    <update id="updateWarnRead">
        update dev_data_warn set read_status = 1,status = 1 ,modify_time = now() where id in
        <foreach collection="idList" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </update>
    <select id="warnStatusCal" resultType="java.util.Map">
        select case when `status` = 0 then '未处理' when `status` = 2 then '已处理' end as 'label', count(id) as 'value' from dev_data_warn
        where 1 = 1
        <if test="data.beginTime !=null and data.beginTime !=''">
            and create_time &gt;= #{data.beginTime}
        </if>
        <if test="data.endTime !=null and data.endTime !=''">
            and create_time &lt;= #{data.endTime}
        </if>
        group by `status`
    </select>
    <select id="selectWarnLevel" resultType="com.polycis.main.entity.WarnLevel">
        <bind name="key_offset" value="(pageInfo.currentPage-1)*pageInfo.pageSize"/>
        select l.id,s1.name as 'devTypeName',s2.name as 'warnTypeName',s3.name as 'warnLevelName' ,l.state
        from dev_warn_level l
        left join polycis_as_main.iot_dictionary s1 on l.dev_type_id = s1.id
        left join polycis_as_main.iot_dictionary s2 on l.warn_type_id = s2.id
        left join polycis_as_main.iot_dictionary s3 on l.warn_level_id = s3.id
        LIMIT #{key_offset},#{pageInfo.pageSize}
    </select>
    <select id="selectWarnLevelCount" resultType="java.lang.Integer">
        select count(*) from dev_warn_level
    </select>


    <select id="selectAWeekAPIOss" resultType="java.util.Map">

        SELECT aa.click_date,
        IFNULL(bb.amount,0) AS count
        FROM
        (
        SELECT CURDATE() AS click_date
        UNION ALL
        SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY) AS click_date
        UNION ALL
        SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY) AS click_date
        ) AS aa
        LEFT JOIN
        (
        SELECT
        COUNT(id) AS amount,
        any_value(DATE_FORMAT(invoke_time,'%Y-%m-%d')) AS click_date
        FROM api_open_count
        WHERE invoke_time>=DATE(NOW())-INTERVAL 6 DAY
        GROUP BY TO_DAYS(invoke_time)
        ) AS bb
        ON aa.click_date=bb.click_date
        order by aa.click_date asc

    </select>
    <select id="aweekapisum" resultType="java.lang.Integer">

        SELECT
        COUNT(id) AS amount
        FROM api_open_count
        WHERE invoke_time>=DATE(NOW())-INTERVAL 6 DAY


    </select>
</mapper>
